.custom-button {
  width: 100%;
  padding: 0.3em 1.2em;
  border-radius:2em;
  border-width: 1px;
  border-style: solid;
  color:#FFFFFF;
}

.blue {
  background-color: rgba(38, 106, 201, 1);
  border-color: rgba(0, 0, 0, 0);
}
.light {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(20, 20, 20, 0.8);
  border-color: rgba(38, 106, 201, 0.8);
}

.custom-button:disabled {
  background-color: rgba(140, 140, 140, 1);
}
.custom-button:active {
  background-color: rgb(116, 218, 255);
}
.custom-button:not(:active):hover:enabled {
  background-color: rgba(68, 196, 255, 1);
}

.custom-button:focus{
  outline: none;
}
