.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 224, 244);
    height: 100vh;
}
.auth-content {
    width: 250px;
    border-radius: 30px;
    padding: 5px 20px 30px 20px;
    box-shadow: 0 2px 13px 4px #00000525;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 20, 0.8);
}
.inputs {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    flex-direction: column;
}
.buttons {
    width: 100%;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-content: space-around;
}
.notice {
    text-align: center;
    font-size: 10px;
    color: rgba(76, 0, 4, 0.6);
}