.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 20, 0.8);
}
.inputs {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    flex-direction: column;
}
.buttons {
    width: 100%;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-content: space-around;
}